th:hover {
    background-color: purple;
}

td:hover {
    background-color: midnightblue;
}

h1 {
    text-align: center;
}
th, td, p, input {
    font:14px Verdana;
}
input, table{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table, th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
th {
    font-weight:bold;
}